{% extends "tienda/base.html" %}
{% block title %}{{ producto.nombre }}{% endblock %}
{% block content %}
  <h1>{{ producto.nombre }}</h1>
  <p>{{ producto.descripcion }}</p>
  <p><strong>Precio:</strong> ${{ producto.precio|floatformat:2 }}</p>

  <!-- Botón para editar el producto actual -->
  <p>
    <a href="{% url 'tienda:editar_producto' producto.pk %}" class="btn btn-pill">✏️ Editar producto</a>
    <a href="{% url 'tienda:eliminar_producto' producto.pk %}" class="btn btn-pill" style="background:#ff3b30;">🗑️ Eliminar</a>
  </p>
{% endblock %}